<p><%= @params[:name] %> (<%= @params[:phone] %>), a potential customer, has sent you a booking request for <%= @params[:company_name] %> at <%= @params[:time] %> on <%= @params[:date] %>.</p>

<p>You may call this customer to confirm the booking at the number they provided: <%= @params[:phone] %></p>

<p>Send from your Yomobi mobile site.</p>
