A visitor to <a href="<%= @params[:company_mobile_url] %>">your YoMobi site</a> has sent you a booking request:
<br />
<br />

Name: <%= @params[:name] %>
<br />
Phone: <%= @params[:phone] %>
<br />
Number of People: <%= @params[:party_size] %>
<br />
Time: <%= @params[:time] %>
<br />
Date: <%= @params[:date] %>
<br />
<br />

Thank You,
<br />
<a href="http://www.yomobi.com">YoMobi</a>
<br />
