<%= @params[:content] %>
<br />
<br />

<%= @params[:company_name] %>
<br />
<a href="<%= @params[:company_mobile_url] %>"><%= @params[:company_mobile_url] %></a>
<br />
<br />

<hr /> <br />
You are receiving this email because you opted to follow the YoMobi site of <%= @params[:company_name] %>.
<a href="<%= @params[:short_url] %>">Click here to opt out</a> of further emails from this site.
