A visitor to <a href="<%= @params[:company_mobile_url] %>">your YoMobi site</a> has sent you a message:
<br />
<br />

Name: <%= @params[:customer_name] %>
<br />
Email: <%= @params[:customer_email] %>
<br />
Subject: <%= @params[:customer_subject] %>
<br />
<br />

Message: <%= @params[:customer_feedback] %>
<br />
<br />

Thank You,
<br />
<a href="http://www.yomobi.com">YoMobi</a>
<br />
