<%==t('account.welcome_email.thank_you')%>
<br />
<br />

<%==t('account.welcome_email.mobile_site_url')%>
<a href="<%= URI.encode @mobile_url %>"><%= @mobile_url %></a>
<br />
<br />
<%==t('account.welcome_email.mobile_redirect')%>
<br />
<br />
<a href="http://www.sharethis.com/share?publisher=780260b0-560d-4d66-b09d-ebf049f3edb5&title=Check%20out%20my%20YoMobi%20mobile%20site.&url=<%= URI.encode @mobile_url %>"><%==t('account.welcome_email.share')%></a>
<br />
<br />
<a href="http://www.yomobi.com/"><%==t('account.welcome_email.access_account')%></a>
<br />
<br />
<p>
<%==t'account.welcome_email.closing'%>
<br />
<%==t'account.welcome_email.signature'%>
<br />
<%==t'account.welcome_email.contact'%>
</p>
