<%==t('tell_a_friend.email.body', :friend_name => @params[:name_from]) %> 
<a href="<%= @params[:company_mobile_url] %>"><%= @params[:company_mobile_url] %></a>
<br />
<br />

<%==t'mobile.email.thank_you'%>
<br />
<%==t'mobile.email.signature'%>
<br />
<br />
<%==t'mobile.email.create_site'%>
