<div class="footer-wrapper">
  <div class="footer-text">
    <a href="about" class="footerlink"><%=t'links.about'%></a> 路
    <a href="privacy" class="footerlink"><%=t'links.privacy'%></a> 路
    <a href="terms" class="footerlink"><%=t'links.terms'%></a> 路
    <a href="mailto:feedback@yomobi.com?subject=%20Get%20mobilized%20with%20YoMobi.&body=The%20world%20is%20on%20the%20go.%20Get%20mobilized%20with%20YoMobi." class="footerlink"><%=t'links.feedback'%></a> 路
    <a href="http://help.yomobi.com" class="footerlink"><%=t'links.help'%></a><br />
    <%=t'legal.rights_reserved'%>
  </div>
  <%= render 'shared/language-links' %>
</div>

