<div class="site-links">
  <a href="<%= about_path %>"><%=t'links.about'%></a>    <span class="dot">&middot;</span>
  <a href="<%= privacy_path %>"><%=t'links.privacy'%></a>  <span class="dot">&middot;</span>
  <a href="<%= terms_path %>"><%=t'links.terms'%></a>    <span class="dot">&middot;</span>
  <a href="mailto:feedback@yomobi.com"><%=t'links.feedback'%></a> <span class="dot">&middot;</span>
  <a href="http://help.yomobi.com" target="_blank"><%=t'links.help'%></a>
</div>
