<div class="site-links">
  <a href="/about"><%=t'links.about'%></a>    <span class="dot">&middot;</span>
  <a href="/privacy"><%=t'links.privacy'%></a>  <span class="dot">&middot;</span>
  <a href="/terms"><%=t'links.terms'%></a>    <span class="dot">&middot;</span>
  <a href="mailto:support@yomobi.com"><%=t'links.feedback'%></a> <span class="dot">&middot;</span>
  <a href="http://help.yomobi.com" target="_blank"><%=t'links.help'%></a>
</div>
