<% 
curl = u @company.mobile_url
title = u "#{@company.name}'s Mobile Website - YoMobi"
%>

<ul class="social-share">
  <li style="padding-top: 5px">Share:</li>
  <li><a rel="nofollow"  target="_blank" href="http://www.facebook.com/share.php?u=<%= curl %>&amp;t=<%= title %>" title="Facebook"><img src="/images/share/facebook.png" title="Facebook" alt="Facebook" /></a></li>

  <li><a rel="nofollow"  target="_blank" href="http://twitter.com/home?status=<%= title %>%20-%20<%= curl %>" title="Twitter"><img src="/images/share/twitter.png" title="Twitter" alt="Twitter" /></a></li>

  <li><a rel="nofollow"  target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= curl %>&amp;title=<%= title %>&amp;source=YoMobi&amp;summary=This%20site%20is%20interesting." title="LinkedIn"><img src="/images/share/linkedin.png" title="LinkedIn" alt="LinkedIn" /></a></li>

  <li><a rel="nofollow"  target="_blank" href="http://www.stumbleupon.com/submit?url=<%= curl %>&amp;title=<%= title %>" title="StumbleUpon"><img src="/images/share/stumbleupon.png" title="StumbleUpon" alt="StumbleUpon" /></a></li>

  <li><a rel="nofollow"  target="_blank" href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=<%= curl %>&amp;title=<%= title %>&amp;annotation=This%20site%20is%20interesting." title="Google"><img src="/images/share/google.png" title="Google Bookmarks" alt="Google Bookmarks" /></a></li>

  <li><a rel="nofollow"  target="_blank" href="mailto:?subject=<%=title %>&amp;body=<%= curl %>" title="email"><img src="/images/share/email.png" title="email" alt="email" /></a></li>
</ul>

<div class="clearfix"></div>

<div style="border-top:1px solid #b3b3b3;margin:8px 0"></div>

<div class="powered-by">Powered by <a href="http://www.yomobi.com" target="_blank">YoMobi</a></div>
