<p><%=t('confirm_account.email.greeting', :first_name => @resource.first_name)%></p>

<p><%=t'confirm_account.email.thank_you'%></p>

<p>
<%=t'confirm_account.email.confirm_msg'%> 
<%= link_to t('confirm_account.email.click_to_confirm'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token,:uid => @resource[:id]) %>
</p>

<p>
<%==t'confirm_account.email.closing'%>
<br />
<%==t'confirm_account.email.signature'%>
<br />
<%==t'confirm_account.email.contact'%>
</p>
