<p><%=t('change_password.email.greeting', :email => @resource.email)%></p>

<p><%=t('change_password.email.password_change_request_msg')%></p>

<p><%= link_to t('change_password.email.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%=t('change_password.email.no_user_request')%></p>
<p>
<%==t'change_password.email.closing'%>
<br />
<%==t'change_password.email.signature'%>
<br />
<%==t'change_password.email.contact'%>
</p>
