<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" version="XHTML+RDFa 1.0" dir="ltr">
<head profile="http://www.w3.org/1999/xhtml/vocab">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag '/stylesheets/signup-app' %>
<link href="/assets/reset.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/assets/yomobi.screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/assets/yomobi.print.css" media="print" rel="stylesheet" type="text/css" />
<%= render 'shared/meta' %>
<script src="/assets/application.js"></script>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<!--[if IE 8]>
<link href="/assets/yomobi.ie8.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
<!--[if IE 7]>
<link href="/assets/yomobi.ie7.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
<!--[if lt IE9]>
<script src="/assets/ie9.js"></script>
    <![endif]-->
<%= render 'shared/meta' %>
<%= csrf_meta_tag %>
</head>
<body class="">
<%= topline_notice %>
<div id="body-wrap">
  <div id="header-wrap">
    <div id="header-top">
      <div class="leftcol">
        <div class="logo">
          <div class="content">
            <a href="/">logo</a>
          </div>
        </div>
      </div>
      <div class="rightcol">
        <div class="user-menu">
          <div class="content">
            <ul>
              <li class="first"><a href="/users/sign_up"><%= t 'sign_up.sign_up' %></a></li>
              <li><a href="/about-us"><%= t 'links.about' %></a></li>
              <li><a href="#"><%= t 'links.help' %></a></li>
              <li><a href="?locale=en"><%= t 'links.language.en' %></a></li>
              <li class="last"><a href="?locale=es"><%= t 'links.language.es' %></a></li>
            </ul>
          </div>
        </div>
        <div class="btn-img">
          <a href="/users/sign_in"><%= t 'sign_in.sign_in' %></a>
        </div>
        <div class="social-menu">
          <div class="content">
            <ul class="menu">
              <li class="first facebook"><a href="https://facebook.com/yomobi">Facebook</a></li>
              <li class="twitter"><a href="https://twitter.com/youmobilized">Twitter</a></li>
              <li class="last youtube"><a href="#">Youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/main_menu' %>
  </div>
  <div id="content-wrap">
    <div id="content-middle-wrap">
      <%= yield %>
    </div>
  </div>
  <div id="pseudo-footer"></div>
</div>
<div id="footer-wrap">
  <div class="inner">
    <div class="copyright">
      <div class="content">
        <p><%= t 'links.copyright' %> <%= Date.today.year %> YoMobi</p>
      </div>
    </div>
    <%= render 'shared/main_menu' %>
    <div class="secondary-menu">
      <div clas="content">
        <ul>
          <li class="first"><a href="/users/sign_in"><%= t 'sign_in.sign_in' %></a></li>
          <li><a href="/users/sign_up"><%= t 'sign_up.sign_up' %></a></li>
          <li><a href="/about-us"><%= t 'links.about' %></a></li>
          <li><a href="#"><%= t 'links.help' %></a></li>
          <li><a href="#">Spanish</a></li>
          <li><a href="/privacy"><%= t 'links.privacy' %></a></li>
          <li><a href="/terms"><%= t 'links.terms' %></a></li>
          <li class="last"><a href="/contact"><%= t 'links.feedback' %></a></li>
        </ul>
      </div>
    </div>
    <div class="user-menu">
      <div class="content">
        <ul>
          <li class="first"><a href="/users/sign_in"><%= t 'sign_in.sign_in' %></a></li>
          <li><a href="/users/sign_up"><%= t 'sign_up.sign_up' %></a></li>
          <li><a href="/about-us"><%= t 'links.about' %></a></li>
          <li><a href="#"><%= t 'links.help' %></a></li>
          <li class="last"><a href="#">Language</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/js-base' %>
<%= yield :js %>
<%= javascript_include_tag '/javascripts/notice' %>
<% if Rails.env.production? %>
  <%= javascript_include_tag '/javascripts/google-analytics'%>
<% end %>
</body>
</html>
